---
http_interactions:
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"metadataDefinitions":[{"id":12423,"uuid":"105dd6ef-a606-49c6-9665-637c3734ecb2","name":"brightcovemetadata","displayName":"brightcovemetadata","externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/metadataDefinitions/12423","created":"13
        Oct 2016 10:55:32 +0000","lastModified":"13 Oct 2016 10:55:33 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","accountId":4},"visibility":[{"id":4,"name":"Master
        Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"}],"account":{"id":4,"name":"Master Account","objectType":{"id":24,"name":"master-account","href":"https://master-flex-jemdev.ft.com/api/objectTypes/24","displayName":"Master
        Account","pluralName":"Master Accounts","userDefined":false,"attachmentsSupported":false,"commentsSupported":false,"objectDataSupported":false,"contentMetadataSupported":false,"metadataSupported":false},"enabled":true,"owner":"masteruser
        masteruser","ownerId":5,"accountId":4,"created":"10 Jun 2015 10:26:05 +0000","lastModified":"19
        Sep 2016 11:03:56 +0000"},"revision":"1-97412c0d927ef65c3944db97cb587b4135bb3d53","locked":false},{"id":12122,"uuid":"d64c5139-4e34-4b50-8201-b4b32951c63d","name":"all-test-metadata","displayName":"all-test-metadata","externalIds":[],"enabled":true,"deleted":false,"href":"https://master-flex-jemdev.ft.com/api/metadataDefinitions/12122","created":"11
        Oct 2016 16:07:42 +0000","lastModified":"13 Oct 2016 17:54:44 +0000","owner":{"id":5,"name":"masteruser","displayName":"masteruser
        masteruser","href":"https://master-flex-jemdev.ft.com/api/users/5","accountId":4},"visibilit[...]
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions/10125/definition
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
      Authorization:
      - Basic bWFzdGVydXNlcjptYXN0ZXJ1c2Vy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"definitionId":105840,"name":"publish-metadata","definition":[{"id":105841,"name":"project","displayName":"Project","description":"{}","type":"text","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":100,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":105842,"name":"thing-url","displayName":"Thing
        URL","description":"{}","type":"text","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"textarea","format":null,"formatDescription":null,"validation":null,"maxLength":100,"expressionEnabled":false,"validationDescription":null,"validationHandler":"tv.nativ.mio.metadata.variable.def.validation.MaxLengthValidationHandler","valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[]},{"id":105843,"name":"section","displayName":"Section","description":"{}","type":"single-option","multiplicity":"1","searchable":true,"editable":true,"required":true,"formType":"select","format":null,"formatDescription":null,"validation":null,"maxLength":-1,"expressionEnabled":false,"validationDescription":null,"validationHandler":null,"valueGeneratorType":null,"unitString":null,"commentable":false,"isVisible":true,"preProcessors":[],"options":[{"id":105844,"name":"Markets
        &amp; Investing","displayName":"Markets &amp; Investing","default":false,"value":"http://api.ft.com/things/12bcffe1-f9f1-47ce-a3aa-e2dcdfaf7499"},{"id":105845,"name":"Companies
        &amp; Management","displayName":"Companies &amp; Management","default":false,"value":"http://api.ft.com/things/5eab0a2e-ca2f-4984-b9b8-3e4f95465e93"},{"id":105846,"name":"World
        &amp; Economy","displayName":"World &amp; Economy","default":false,"value":"http://api.ft.com/things/16272492-35fb-449b-8875-dd445b58a5d5"},{"id":105847,"name":"Life
        &amp; Arts","displayName":"Life &amp;[...]
[...]
