---
http_interactions:
- request:
    method: get
    uri: https://master-flex-jemdev.ft.com/api/metadataDefinitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nativ.mio.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Www-Authenticate:
      - Basic realm="Realm"
    body:
      encoding: UTF-8
      string: '<html><head><title>JBoss Web/7.4.10.Final-redhat-1 - JBWEB000064: Error
        report</title><style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>JBWEB000065:
        HTTP Status 401 - </h1><HR size="1" noshade="noshade"><p><b>JBWEB000309: type</b>
        JBWEB000067: Status report</p><p><b>JBWEB000068: message</b> <u></u></p><p><b>JBWEB000069:
        description</b> <u>JBWEB000121: This request requires HTTP authentication.</u></p><HR
        size="1" noshade="noshade"><h3>JBoss Web/7.4.10.Final-redhat-1</h3></body></html>'
  recorded_at: Tue, 11 Oct 2016 11:20:31 GMT
recorded_with: VCR 3.0.3
